<!DOCTYPE html>
<html>
  <head>
    <title>Express App</title>

    <link rel="stylesheet" href="style.css" />

    <style>
    *,
    *::after,
    *::before {
      margin: 0;
      padding: 0;
      /* box-sizing: border-box; */
    }

/* Grid_Template___________START */
      body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
          "registerContainer getContainer"
          "dataOutput dataOutput";

        height: 100vh;
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
      }

      .register_container{
        background-color: #e74c3c; 
        grid-area: registerContainer;
        border-radius: 30px;
      }

      .registerForm_div,.successMessage_div{
        margin-top: 20px;
        background-color: #dd847a;
        border-radius: 10px; 
        padding: 12px; 
      }
      input{
        padding: 6px;
      }
      .bearerToken_div{
        margin-top: 20px;
        background-color: #dd847a;
        border-radius: 10px; 
        padding: 12px; 
      }

      .apigenerator_div{
        margin-top: 20px;
        background-color: #dd847a;
        border-radius: 10px; 
        padding: 12px; 
      }

      .get_container{
        display: flex;
        flex-direction: row;
        justify-content: end; 
        align-content: space-between;       
        background-color: #0BDB42;
        padding-top: 20px;
        border-radius: 30px;
        margin-left: 20px;
      }
    
      .formScore_div{
        margin: 10px;
      }

      .data_output{
        grid-area: dataOutput;
      }

/* Grid_Template___________END*/

      button {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        width: 200px;
        background-color: #bda7a7;
      }

      #noAuth {
        margin: 10px;
        background-color: #343fdb;
      }
      #noAuth:hover{
        background-color: #a8a1ec;
      }

      #basicAuth {
        margin: 10px;
        background-color: #48395a;
      }#basicAuth:hover{
        background-color: #a8a1ec;
      }


      #apiKey {
        margin-bottom: 5px;
        background-color: #f1c40f;
      }
      #apiKey:hover {
        background-color: #eed87e;
      }

      /* ------- */
      #bearerToken {
        margin-top: 10px;
        background-color: #3498db;
      }
      #bearerToken:hover{
        background-color: #85c0e7;
      }
      /* ------- */

      .response-area {
        margin-top: 20px;
        background-color: white;
        padding: 20px;
      }

      a:hover {
        color: #bda7a7;
      }

    </style>
  </head>

  <body>
<!-- The page is divided in three parts and three colors -->

<!-- The left side has RED COLOR__ Its Content___ START-->

  <!------------------------Left side registerContainer-------------------------------->
      
    <div class="register_container">

      <!-- ------------- -->
      <form class="registerForm_div" action="/registerUser" method="POST">
        <h4 style="margin: 0;">This form create a user to use API</h4>

        <input type="text" placeholder="username" name="inputUserName" required>
        <input type="password" placeholder="password" name="inputPasswordUser" required>
        <button type="submit" id="apiKey" class="form-submit">Send</button>
        </form>
      <!-- ------------- -->
      
      <% if (registerRes) { %>
        <div class="successMessage_div">
          <h4><%=registerRes%></h4>
        </div>
      <% } %>


      <!-- ------------- -->
        <div class="bearerToken_div">
          <h4>This Button generates an authentication token for a user</h4>
          <button id="bearerToken" onclick="window.location.href='/bearerToken'">
            Bearer Token
          </button>
        </div>
      <!-- ------------- -->

        
        <div class="apigenerator_div">
          <h4>This Button generates an APIkey</h4>
          <button id="bearerToken" onclick="window.location.href='/apigenerator'">Generate APIKey</button>
        </div>

      </div>
  <!-------------------------------------------------------->
<!-- The left side is RED COLOR__ Its Content___ END-->


<!-- The Right side has GREEN COLOR__ Its Content___ START-->
  <!------------------------getContainer-------------------------------->
      <div class="get_container">
        <div class="basicAuth_div">
          <button type="submit" id="basicAuth" onclick="window.location.href='/basicAuth'">
            Basic Auth
          </button>
        </div>

        <div class="noAuth_div">
          <button type="submit" id="noAuth" onclick="window.location.href='/noAuth'">
              No Auth
          </button>
        </div>

        <div class="formScore_div">
          <form method="POST" action="/apiKey">
            <button type="submit" id="apiKey" class="form-submit">
              <span>API Key</span>
            </button>

            <select name="embaressScore" class="form-select">
              <option value="" data-display="Select">Random Embarassment</option>
              <% for (let i=1; i<9; i++) { %>
              <option value="<%=i%>"><%=i%></option>
              <% } %>
            </select>
  

          </form>
        </div>


        <!-- <button id="apiKey" onclick="window.location.href='/apiKey'">API Key</button> -->
      </div>
  <!-------------------------------------------------------->
<!-- The left side has GREEN COLOR__ Its Content___ END-->

<!----------------------dataOutput---------------------------------->
    <div class="response-area data_output">
      <p><%=content%></p>
    </div>
<!-------------------------------------------------------->
  </body>
</html>
